<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="icon" href="img/download.png">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <link rel="stylesheet" href="css/style.css">
    <script src="https://cdn.jsdelivr.net/npm/vue@2.7.13/dist/vue.js" defer></script> 
    <script src="js/script.js" defer></script>
    
    <title>vue-email-list</title>
</head>
<body>
    <div id="root">
        <button @click="randomEmail">Genera 10 email</button>
        <ul v-if="arrEmail.length > 9">
            <li class="listaEmail" v-for="(obj, i) in arrEmail">
                {{ obj.email }}
            </li>
        </ul>
        <img src="img/57233884-20344080-6fe5-11e9-8df3-0df1282e1574.png" alt="">
    </div>
</body>
</html>